*{
    margin: 0;
    font-family:SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    border: border-box;
    background-color: #eeeeee85
}
/** Nav bar **/
.navbar{
    height: 44px;
    background-color: #eeeeee85;
    color: #1d1d1f;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo{
    display: flex;
    align-items: center;
}
.nav-panel{
    height: 40px;
    color: #1d1d1f;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-ops p{
    display: inline;
    margin-left: 30px;
}
.nav-ops{
    width: 110%;
    font-size: 0.85rem;
}
/** Panel **/
.panel{
    height: 58px;
    display: flex;
    background-color: white;
    color: #1d1d1f;
    align-items: center;
    justify-content: center
}
.panel p{
    background-color: white;
}
.panel a{
    color: #0066cc;
    font-size: 14px;
    background-color: white;
}
.panel sup{
    font-size: 8.4px;
    background-color: white;
}

/** Hero Section **/

.hero-section{
    color: #6e6e73;
    font-size: 48px;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    letter-spacing: .003em;
    font-weight: 600;
    display: inline;

}

.boldtext{
    color: #1d1d1f;
}